@import 'variables';

.call-action1 {
    // height: 211px;
    background-color: #ffffff;
    padding: 40px;
    min-width: 400px;
    max-width: 1200px;
    height: 400px;
}

.title-text__item {
    font-size: 32px;
    font-weight: 400;
}
.middle-text__item {
    margin: 0 auto;
    color: #4b4b4b;
    font-size: 18px;
    font-weight: 300;
    width: 45%;
    padding-bottom: 25px;
}

.input-button {
    text-align: center;
}

.call-button {
    height: 160px;
    background: #565d67;
    margin-top: 40px;   
}
.input-button__text {
    display: inline-block;
    font-family: $fontLogo;
    font-size: 29px;
    font-weight: 300;
    color: #e5e6e7;
    padding-right: 65px;
}
.text-button {
    text-align: center;
    padding: 50px;
}
.text-button__padding {
    text-align: center;
}
.input-button__newbtn {
    display: inline-block;
    margin-top: 45px;
}
.highlight {
    background: #bbbec2;
}
.highlight1 {
    background: white;
}
.font {
    font-family: "Titillium Web";
}

.input-button__user,
.input-button__number,
.input-button__email {
    display: block;
    height: 54px;
    width: 435px;
    font-size: 16px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 25px;
    padding-left: 20px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px 3px grey;
}
.input-button__subscribe {
    color: #ffffff;
    font-family: $fontRoboto;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #ea6060;
    padding: 19px 34px 19px 34px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px grey;
    letter-spacing: -0.7px;
}
.input-button__user, 
.input-button__number {
    margin-bottom: 10px;
}
.input-button__email {
    margin-bottom: 25px;
}