@import 'variables';
body {
    height: 100%
}
.header-main {
    @include minMaxWidth;
    margin: 0 auto;
    background: $backgroundColorLocal;
    height: 100vh;
}
.header-main__wrapper {
    @include minMaxWidth;
    padding: 35px;
}
.wrapper-logo { 
    display: block;
    float: left; 
    width: 10%;
}    
.wrapper-logo__paragraph {
    color: $colorLogo;
    font-family: $fontMenu;
    font-size: 32px;
    font-weight: 400;
    line-height: 34.87px;
    text-transform: uppercase;
    letter-spacing: 1.98px;
}
.header-main__wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.wrapper__menu {
    display: block;
    float: right;
    width: calc(100% - 10%);
    }

.wrapper__item {
    display: block;
    float: right;
        
}
.wrapper__list {
    display: inline-block;
    list-style: none;
    padding-left: 35px;
}
.link{
    text-decoration: none;
    color: $blackColor;
    font-size: 16px;
    font-family: $fontMenu;
}

.slider-item {
    display: none;
    .slider-item__active  {
    display: block;
    }
}

.slider-item__active  {
    display: block;
}

.slider-item__text {
    font-size: 38px;
    font-weight: 300;
    letter-spacing: 0.76px;
}
.slider-header {
    color: $colorLogo;
    font-family: $fontMenu;
    text-align: center;
}

.slider__text {
   display: flex;
   align-items: center;
   align-content: center;
   padding: 10px;
   padding-top: 170px;
   padding-bottom: 150px;
}

.back__link,
.next__link {
    text-decoration: none;
    color: #585858;
    font-size: 20px;
    cursor: pointer;
}
.back__link {
    padding-left: 96%;
}
.next__link {
    padding-right: 96%;
}

.slider__arrows {
    display: flex;
    align-items: end;
    margin: 0 auto;
    align-content: end;
    padding: 5px;
    margin-bottom: 100px;
}

.back,
.next {
    width: 50%;
}
.dots {
    cursor: pointer;
}
.slider__list {
    border: 1px solid $colorDots;
    border-radius: 50% ;
    width: 11px;
    height: 11px;
    margin-left: 5px;
    cursor: pointer;
}
.slider__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    align-content: center;
    padding: 5px;
}

.slider__list-active {
    background: $colorDots;
}

