@import 'variables';

.container-menu {
    float: left;
    width: 10.546875%;
    background-color:  #565d67;
    height: 768px;
    padding: 0 4.6875% 0 4.6875%;
    position: absolute;
    transition: 0.5s;
    transform: translate(0%);
}
.header-main--block {
    margin-top: 40px;
    height: 768px;
    position: relative;
}
.wrapper__menu--column {
    float: left;
}
.close {
    position: absolute;
    right: 26px;
    top: 21px;
    width: 13px;
    height: 13px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
content: ' ';
    height: 13px;
    width: 2px;
    background-color: white;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.wrapper__list--column {
    display: block;
    padding: 0px;
    font-size: 16px;
    padding-bottom: 30px;
    font-family: $fontMenu;
}
.wrapper__item--column {
    text-align: left;
    float: left;
    padding-top: 60px;
}
.link--color {
    color: $colorList;
}
.horizontalLine {
    width: 135px;
    color: $colorList;
    margin-bottom: 30px;
}
.wrapper__icon {
    display: inline-block;
    font-family: $fontMenu;
    color: #bbbec2;
}
.social {
    padding: 5px;
    border: 1px solid $colorList;
    border-radius: 50%;
    padding-right: 15px;
    margin-right:  5px; 
    float: left;
}
.social__item {
    margin-left: 10px;
    font-family: $fontMenu;
}

.slider__item--column {
    display: flex;
    flex-direction: column;
}
.wrapper-logo__paragraph--size {
    font-size: 64px;
    font-family: $fontMenu;
    text-align: center;
}
.header-main__wrapper--float {
    float: left;
    width: 63%;
    margin-left: 19.921875%;
    padding: 0;
}
.wrapper-logo--float {
    float: none;
    width: 100%;
    padding-top: 120px;
    font-weight: 400;
}
.slider__navigation--right {
    width: 17%;
    margin: 0 auto;
    padding-top: 300px;
    float: right;
}
.slider-item__text--size {
    font-size: 42px;
}
.menu-short {
    position: absolute;
    width: 39px;
    height: 39px;
    border-radius: 3px;
    background-color: $colorLogo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: -45px;
    z-index: 100;
}
.menu-short__item  {
    width: 20px;
    height: 2px;
    background: #ffffff;
    margin-bottom: 5px;
}
.active-content {
    float: left;
    width: 83%;
    margin: 0;
}

.slider-item1 {
    display: none;
    .slider-item__active  {
    display: block;
    }
}
.slider-item__active  {
    display: block;
}
.bigButton {
    display: block;
    margin: 0 auto;
    font-family: $fontMenu;
    font-size: 18px;
    border: 1px solid $colorLogo;
    background-color: #cdcdcd;
    padding: 15px;
}
.slider__text--height {
    height: 300px;
}
.slider__list--column {
    margin: 0px;
    margin-bottom: 5px;
}
.container-menu__active {
    transform: translate(-100%);
    display: block;
}
.header-main--overflow {
    overflow: hidden;
}