@import 'variables';
@import 'header';
@import 'header2';

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: $backgroundColorMain;
}
.title-block { 
    margin: 0 auto;
    margin-top: 83px;
    @include minMaxWidth;
    .title {
        width: 145px;
        color: #222222;
        font-family: 'Titillium Web', sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 62.69px;
        letter-spacing: 0.23px;
        margin: 0 auto;
    }
}
