body {
    background-color: #ecedee;
}
.title1 {
    .title1__item {
        width: 145px;
        color: #222222;
        font-family: 'Titillium Web', sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 62.69px;
        letter-spacing: 0.23px;
        margin: 83px auto 0px;
    }
}

 .header1 {
     
 }