// color
$backgroundColorMain: #ecedee;
$backgroundColorLocal: #cdcdcd;
$blackColor: black;
$colorLogo: #222222;
$colorDots: #777777;
$colorList: #bbbec2;
// fonts
$fontLogo: "Titillium Web", sans-serif;
$fontMenu: 'Titillium Web', sans-serif;
$fontRoboto:  'Roboto', sans-serif;
// mixCode
@mixin minMaxWidth {
    min-width: 400px;
    max-width: 1280px;
}

